
 <!-- <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     Admin Profile
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"> -->
      <div>
        <a class="list-group-item list-group-item-action " routerLink="./updateCustomerProfile" routerLinkActive="blue" >Update Profile</a>
    </div>
  <br>
  <div class="list-group">
      <a class="list-group-item list-group-item-action " routerLink="./customerPromotions" routerLinkActive="blue">Home</a>
      <a class="list-group-item list-group-item-action " routerLink="./restaurants" routerLinkActive="blue">Restaurants</a>
      <a class="list-group-item list-group-item-action " routerLink="./viewOrderedMeals" routerLinkActive="blue">Upcoming Meal Orders</a>
      <a class="list-group-item list-group-item-action " routerLink="./viewBookedTables" routerLinkActive="blue">Upcoming Table Reservations</a>

    </div>

