<mat-toolbar color="primary"> Manage Tables </mat-toolbar>
<mat-tab-group>
<mat-tab label="Add Tables">
<div class="container scroll" style="border-top: 1000px">
    <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">

<div class="container customerInfo" style="padding-top: 5px">
    <div class="row">

      <!-- Start  -->

          <div class="col-6 border border-secondary" style="padding-top: 10px">
          <form  (submit)="onAddTable(form)"  #form="ngForm">
              <p class="font-weight-bold">Add Tables</p>


            <div class="form-group row">
                <label for="tableType" class="col-sm-4 col-form-label">Table Type</label>
                <div class="col-sm-8">
                  <input type="text" ngModel #tableType="ngModel" class="form-control" id="tableType"  name="tableType" placeholder="Eg- Indoor A/C, Luxoury,etc " required>
                  <div class="alert alert-danger" *ngIf="!tableType.valid && tableType.touched">Invalid</div>
                </div>
            </div>

            <div class="form-group row">
                <label for="tableDescription" class="col-sm-4 col-form-label">Table Description</label>
                <div class="col-sm-8">
                  <textarea type="text" ngModel #tableDescription="ngModel" class="form-control" id="tableDescription"  name="tableDescription" placeholder="Table Description" required></textarea>
                  <div class="alert alert-danger" *ngIf="!tableDescription.valid && tableDescription.touched">Invalid</div>
                </div>
            </div>

            <div class="form-group row">
                <label for="numOfTables" class="col-sm-4 col-form-label">Num Of Tables</label>
                <div class="col-sm-8">
                  <input type="number" ngModel #numOfTables="ngModel" class="form-control" id="numOfTables"  name="numOfTables" placeholder="Number of Tables" required>
                  <div class="alert alert-danger" *ngIf="!numOfTables.valid && numOfTables.touched">Invalid</div>
                </div>
            </div>

            <div class="form-group row" style="margin-left: 150px; margin-top: 0px;">
                <button type="submit" class="btn btn-success">Add Table</button>
            </div>
        </form>
        </div>
        <div class="col-6 border border-secondary" style="padding-top: 10px">
            <p class="font-weight-bold">Table Availability</p>
            <div class="form-group row">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Table Type</th>
                      <!-- <th scope="col">Time</th> -->
                      <th scope="col">Description</th>
                      <th scope="col">Number</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let table of tablesAdded">
                      <td>{{table.type}}</td>
                      <td>{{table.description}}</td>
                      <td>{{table.number}}</td>

                      <!-- <td>{{room.status}}</td> -->
                    </tr>
                  </tbody>
                </table>
                <br>
                <br>
                <div class="form-group row" style="margin-left: 150px; margin-top: 0px;">
                 <a class="btn btn-danger" (click)="onClearTable()"> Clear Table</a>
                </div>
              </div>
        </div>
      </div>
      </div>

      <div class="form-group row" style="margin-left: 500px; margin-top: 0px;">
        <button type="submit" (click)="onSubmitTableLayout(form)" class="btn btn-success">Submit Table Layout</button>
    </div>
    </cdk-virtual-scroll-viewport>
    </div>
    </mat-tab>
    <mat-tab label="View Tables">
        <div class="col border border-secondary" style="padding-top: 10px; width:950px; padding-bottom: 200px;">
            <p class="font-weight-bold">Table Availability</p>
            <div class="form-group row">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Table Type</th>
                      <!-- <th scope="col">Time</th> -->
                      <th scope="col">Description</th>
                      <th scope="col">Number</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let table of currentTables">
                      <td>{{table.type}}</td>
                      <td>{{table.description}}</td>
                      <td>{{table.number}}</td>

                      <!-- <td>{{room.status}}</td> -->
                    </tr>
                  </tbody>
                </table>

              </div>
        </div>
    </mat-tab>
    </mat-tab-group>

