 .customerInfo{
  padding-top: 10px;
  padding-right: 100px;
  padding-bottom: 15px;
  padding-left: -10px;
  width: 975px;
  margin-right: 100px;
  margin-top: 20px;
  /* margin-bottom: 0px; */
 border-right: 100px;
  margin-left:170px;
}

