<!-- <mat-toolbar color="primary"> Manage Tables </mat-toolbar> -->
<div class="container customerInfo" style="padding-top: 5px">
    <div class="row">

      <!-- Start -->

          <div class="col-6 border border-secondary" style="padding-top: 10px">
          <form >
              <p class="font-weight-bold">Add Menu</p>


            <div class="form-group row">
                <label for="meal" class="col-sm-4 col-form-label">Meal</label>
                <div class="col-sm-8">
                  <input type="text" ngModel #meal="ngModel" class="form-control" id="meal"  name="meal" placeholder="Eg- egg rice, pizza,etc " required>
                  <div class="alert alert-danger" *ngIf="!meal.valid && meal.touched">Invalid</div>
                </div>
            </div>

            <div class="form-group row">
                <label for="mealDescription" class="col-sm-4 col-form-label">Meal Description</label>
                <div class="col-sm-8">
                  <textarea type="text" ngModel #mealDescription="ngModel" class="form-control" id="mealDescription"  name="mealDescription" placeholder="Meal Description" required></textarea>
                  <div class="alert alert-danger" *ngIf="!mealDescription.valid && mealDescription.touched">Invalid</div>
                </div>
            </div>

            <div class="form-group row">
                <label for="mealPrice" class="col-sm-4 col-form-label">Price</label>
                <div class="col-sm-8">
                  <input type="currency" ngModel #mealPrice="ngModel" class="form-control" id="mealPrice"  name="mealPrice" placeholder="Price of the Meal (Rs.)" required>
                  <div class="alert alert-danger" *ngIf="!mealPrice.valid && mealPrice.touched">Invalid</div>
                </div>
            </div>

            <div class="form-group row" style="margin-left: 150px; margin-top: 0px;">
                <button type="submit" class="btn btn-success">Add Meal</button>
            </div>
        </form>
        </div>
        <div class="col-6 border border-secondary" style="padding-top: 10px">
            <p class="font-weight-bold">Meal Details</p>
            <div class="form-group row">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Meal</th>
                      <!-- <th scope="col">Time</th> -->
                      <th scope="col">Price</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let meal of meal">
                      <td>{{meal.name}}</td>
                      <td>{{meal.price}}</td>
                      <!-- <td>{{meal.status}}</td> -->
                    </tr>
                  </tbody>
                </table>
                <br>
                <br>
                <div class="form-group row" style="margin-left: 150px; margin-top: 0px;">
                 <a class="btn btn-danger" > Delete Meal</a>
                </div>
              </div>
        </div>
