<mat-toolbar color="primary"> Restaurant Information </mat-toolbar>
<div class="container scroll" style="border-top: 1000px">
  <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">

  <form #ownerRegistrationForm="ngForm">
  <div class="container border border-secondary Info">
    <p class="font-weight-bold">Enter Restaurant Information</p>
    <div class="form-group row">
        <label for="resName" class="col-sm-3 col-form-label">Restaurant Name</label>
        <div class="col-sm-8">
          <input ngModel #resName="ngModel" type="email" class="form-control" id="resName" name="resName"placeholder="Restaurant Name" required>
        </div>
    </div>
    <div class="form-group row">
      <label for="resContact" class="col-sm-3 col-form-label">Contact Number</label>
      <div class="col-sm-6">
        <input  ngModel #resContact="ngModel" pattern="\d{10}" type="text" class="form-control" id="resContact" name="resContact" placeholder="Contact Number" required>
      </div>
    </div>
    <div class="form-group row">
      <label for="resCity" class="col-sm-3 col-form-label">City</label>
      <div class="col-sm-6">
        <input ngModel #resCity="ngModel" type="email" class="form-control" id="resCity" name="resCity" placeholder="City" required>
      </div>
    </div>
    <div class="form-group row">
        <label for="description" class="col-sm-3 col-form-label">Description</label>
        <div class="col-sm-8">
          <textarea  ngModel #description="ngModel" type="text" class="form-control" id="description" name="description" placeholder="Description" ></textarea>
        </div>
      </div>

      <div class="form-group row">
          <label for="openingAt" class="col-sm-3 col-form-label">Opening At</label>
          <div class="col-sm-8">
            <input  ngModel #openingAt="ngModel" type="time" class="form-control" id="openingAt" name="openingAt" placeholder="Opening Time" required >
          </div>
      </div>

      <div class="form-group row">
          <label for="closingAt" class="col-sm-3 col-form-label">Closing At</label>
          <div class="col-sm-8">
            <input  ngModel #closingAt="ngModel" type="time" class="form-control" id="closingAt" name="closingAt" placeholder="Closing Time" required >
          </div>
        </div>

  <br>
  <div class="form-row" style="margin-left: 100px">
    <button class="btn btn-success" type="submit" style="margin-left: 100px">Update Info</button>
    <a class="btn btn-primary" style="margin-left: 20px; padding-left:20px; padding-right: 20px">Reset</a>
    <a class="btn btn-danger" style="margin-left: 20px; padding-left:20px; padding-right: 20px">Delete Restaurant</a>
  </div>
  </div>

  <br>
  <br>

  </form>
  </cdk-virtual-scroll-viewport>
  </div>

