
 <!-- <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     Admin Profile
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"> -->
      <div>
        <a class="list-group-item list-group-item-action " routerLink="./managerUpdateProfile" routerLinkActive="blue" >Update Profile</a>
    </div>
  <br>
  <div class="list-group">
      <a class="list-group-item list-group-item-action " routerLink="./manageMeals" routerLinkActive="blue">Manage Meals</a>
      <a class="list-group-item list-group-item-action " routerLink="./manageTables" routerLinkActive="blue">Manage Tables</a>
      <a class="list-group-item list-group-item-action " routerLink="./managePromotions" routerLinkActive="blue">Manage Promotions</a>
      <a class="list-group-item list-group-item-action " routerLink="./manageGenerateReports" routerLinkActive="blue">Generate Reports</a>

    </div>

