
 <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     Admin Profile
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="list-group-item list-group-item-action " routerLink="#" routerLinkActive="blue">View Profile</a>
        <a class="list-group-item list-group-item-action " routerLink="#" routerLinkActive="blue">Update Profile</a>
        <a class="list-group-item list-group-item-action " routerLink="#" routerLinkActive="blue">Change Username</a>
        <a class="list-group-item list-group-item-action " routerLink="#" routerLinkActive="blue">Change Password</a>

    </div>
  </div>
  <br>
  <div class="list-group">
      <a class="list-group-item list-group-item-action " routerLink="./manageRestaurant" routerLinkActive="blue">Manage Restaurant</a>
      <a class="list-group-item list-group-item-action " routerLink="./manageManager" routerLinkActive="blue">Manage Manager</a>
      <a class="list-group-item list-group-item-action " routerLink="./managePromotions" routerLinkActive="blue">Manage Promotions</a>
      <a class="list-group-item list-group-item-action " routerLink="./manageTables" routerLinkActive="blue">Manage Tables</a>
      <a class="list-group-item list-group-item-action " routerLink="./manageMeals" routerLinkActive="blue">Manage Meals</a>

    </div>

