
<!--  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Update Profile
    </button> -->
  <!--   <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">-->
    <div style="color:white">
      <label>Username: {{currentUsername}} </label>
      <br>
      <label>UserID: A/{{userID}}</label>
    </div>
    <div>
        <a class="list-group-item list-group-item-action " routerLink="./adminUpdateProfile" routerLinkActive="blue">Update Profile</a>
  </div>
  <br>
  <div class="list-group">
      <a class="list-group-item list-group-item-action " routerLink="./manageRestaurant" routerLinkActive="blue">Manage Restaurant</a>
      <a class="list-group-item list-group-item-action " routerLink="./manageManager" routerLinkActive="blue">Manage Manager</a>
      <a class="list-group-item list-group-item-action " routerLink="./managePromotions" routerLinkActive="blue">Manage Promotions</a>
      <a class="list-group-item list-group-item-action " routerLink="./manageTables" routerLinkActive="blue">Manage Tables</a>
      <a class="list-group-item list-group-item-action " routerLink="./manageMeals" routerLinkActive="blue">Manage Meals</a>
      <a class="list-group-item list-group-item-action " routerLink="./adminGenerateReports" routerLinkActive="blue">Generate Reports</a>
      <br>
      <br>
      <a class="btn btn-danger" routerLink="/">Sign Out</a>
    </div>

