<mat-toolbar color="primary"> Update Profile </mat-toolbar>
<mat-tab-group>
  <mat-tab label="Update Profile">
<div class="container scroll" style="border-top: 1000px">
    <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">

    <form (submit)="onUpdateInfo(customerUpdateForm)"#customerUpdateForm="ngForm">
  <!-- Start - Personal Information Panel -->
  <div class="container border border-secondary Info">
    <p class="font-weight-bold">Customer Personal Information</p>
    <!-- Start - First Name, Last Name -->
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for="customerFirstName">First name</label>
            <input ngModel #customerFirstName="ngModel" pattern="[a-zA-Z\s]+" type="text" class="form-control" id="customerFirstName" name="customerFirstName" placeholder="First name" required [(ngModel)]="customer.name.firstname">
            <div class="alert alert-danger" *ngIf="!customerFirstName.valid && customerFirstName.touched">Enter Valid First Name</div>
          </div>

          <div class="col-md-6 mb-3">
            <label for="customerLastName">Last name</label>
            <input ngModel #customerLastName="ngModel" pattern="[a-zA-Z\s]+" type="text" class="form-control" id="customerLastName" name="customerLastName" placeholder="Last name" required [(ngModel)]="customer.name.lastname">
            <div class="alert alert-danger" *ngIf="!customerLastName.valid && customerLastName.touched">Enter Valid Last Name</div>
          </div>


        </div>
 <!-- End - First Name, Last Name, Gender -->
  <div calss="form-row">
      <div class="col-md-6 mb-3">
          <label style="margin-left: -18px">Gender</label>
          <div style="padding-top: 6px">
              <input ngModel #customerGender="ngModel" pattern="[a-zA-Z\s]+" type="text" class="form-control" id="customerGender" name="customerGender" placeholder="Gender" readonly [(ngModel)]="customer.gender">
            <div class="alert alert-danger" *ngIf="!customerGender.valid && customerGender.touched">Please select gender </div>
          </div>
        </div>
  </div>
 <!-- Start - Address, City, District -->
    <div class="form-row" style="padding-bottom: 10px">
      <div class="col-md-9 mb-3">
        <label for="customerAddress">Address</label>
        <input ngModel #customerAddress="ngModel" type="text" class="form-control" id="customerAddress" name="customerAddress" placeholder="Address" required [(ngModel)]="customer.address">
        <div class="alert alert-danger" *ngIf="!customerAddress.valid && customerAddress.touched">Enter an address</div>
      </div>
      <div class="col-md-3 mb-3">
          <label for="customertCity">City</label>
          <input ngModel #customertCity="ngModel" type="text" class="form-control" id="customertCity" name="customertCity" placeholder="City" required [(ngModel)]="customer.city">
          <div class="alert alert-danger" *ngIf="!customertCity.valid && customertCity.touched">Enter a city </div>
        </div>

  </div>
<!-- End - Address, City, District -->

<!-- Start - NIC, Date of Birth-->
    <div class="form-row">
        <div class="col-md-4 mb-3" >
            <label for="patientNIC">NIC</label>
            <div style="padding-top: 10px">
               <input ngModel #customerNIC="ngModel" pattern="([0-9]{9}[x|X|v|V]|[0-9]{12})$"type="text" class="form-control" id="customerNIC" name="customerNIC" placeholder="NIC" readonly [(ngModel)]="customer.nic">
               <div class="alert alert-danger" *ngIf="!customerNIC.valid && customerNIC.touched">Enter Valid NIC</div>
            </div>
        </div>

        <div class="col-md-4 mb-3" style="padding-left: 50px">
            <label for="">Date of Birth</label>
            <input ngModel #customerDOB="ngModel" name="customerDOB" type="text" class="form-control" id="customerDOB" placeholder="DOB" readonly [(ngModel)]="customer.dob">
            <div class="alert alert-danger" *ngIf="!customerDOB.valid && customerDOB.touched">Enter Date of Birth</div>
     </div>


    </div>
<!-- End - NIC, Date of Birth-->

<!-- Start - Contact Number, Email-->
    <div class="form-row">
        <div class="col-md-4 mb-3" >
            <label for="customerContactNumber">Contact Number</label>
            <div style="padding-top: 10px">
                <input  ngModel #customerContactNumber="ngModel" pattern="\d{10}" type="text" class="form-control" id="customerContactNumber" name="customerContactNumber" placeholder="Contact Number" required [(ngModel)]="customer.contactNumber">
                <div class="alert alert-danger" *ngIf="!customerContactNumber.valid && customerContactNumber.touched">Enter a valid contact number</div>
            </div>
        </div>
        <div class="col-md-8 mb-3" >
            <label for="customerEmail">Email</label>
            <div style="padding-top: 10px">
                <input ngModel #customerEmail="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" type="text" class="form-control" id="customerEmail" name="customerEmail" placeholder="Email" [(ngModel)]="customer.email">
                <div class="alert alert-danger" *ngIf="!customerEmail.valid && customerEmail.touched">Enter a valid email address</div>
            </div>
        </div>
    </div>
<!-- End - Contact Number, Email-->
</div>
<!-- End - Customer Information Panel -->
<div class="container border border-secondary Info" style="margin-top: 10px">
    <p class="font-weight-bold">Enter Username & Password</p>
    <div class="form-group row">
        <label for="username" class="col-sm-3 col-form-label">Username</label>
        <div class="col-sm-8">
          <input ngModel #username="ngModel" type="email" class="form-control" id="username" name="username"placeholder="Username" required [(ngModel)]="currentUsername">
        </div>
    </div>
    <div class="form-group row">
        <label for="password" class="col-sm-3 col-form-label">Password</label>
        <div class="col-sm-8">
          <input ngModel #password="ngModel" type="password" class="form-control" id="password" name="password" placeholder="Password" required>
        </div>
    </div>
    <div class="form-group row">
        <label for="confirmPassword" class="col-sm-3 col-form-label">Confirm Password</label>
        <div class="col-sm-8">
          <input ngModel #confirmPassword="ngModel" type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Password" required>
          <div class="alert alert-danger" *ngIf="!(password.value==confirmPassword.value) && password.touched && confirmPassword.touched">Password Mismatch</div>
        </div>
      </div>

</div>
<br>
<div class="form-row" style="margin-left: 100px">
  <button class="btn btn-success" type="submit" style="margin-left: 250px">Update Info</button>
  <a class="btn btn-primary" style="margin-left: 50px; padding-left:42px; padding-right: 42px">Reset</a>
  <a class="btn btn-danger" style="margin-left: 20px; padding-left:20px; padding-right: 20px">Delete Profile</a>
</div>
<br>
<br>
</form>

</cdk-virtual-scroll-viewport>
</div>
</mat-tab>
</mat-tab-group>
