<cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">

<mat-toolbar color="primary"> Upcoming Meal Orders </mat-toolbar>
<mat-tab-group>
<!--Upcoming Order-->
<mat-tab label="View Meal Orders">


    <div class="col border border-secondary" style="padding-top: 10px; width:950px; padding-bottom: 200px;">
        <p class="font-weight-bold"></p>
        <div class="form-group row">
            <table class="table table-striped">
                    <thead>
                    <tr>
                      <th scope="col">Restaurant Name</th>
                      <th scope="col">Restaurant City</th>
                      <th scope="col">Contact Number</th>
                      <th scope="col">Meal Name</th>
                      <th scope="col">Meal Type</th>
                      <th scope="col">Quantity</th>
                      <th scope="col">Date</th>
                      <th scope="col">Time</th>
                      <th scope="col">Price</th>
                      <!-- <th scope="col">Delete Order</th> -->
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let meal of orderedMeals">
                      <td>{{meal.restaurant[0].restaurant.name}}</td>
                      <td>{{meal.restaurant[0].restaurant.city}}</td>
                      <td>{{meal.restaurant[0].restaurant.contactNumber}}</td>
                      <td>{{meal.meal.name}}</td>
                      <td>{{meal.meal.mealType}}</td>
                      <td>{{meal.quantity}}</td>
                      <td>{{meal.orderDate}}</td>
                      <td>{{meal.orderTime}}</td>
                      <td>{{meal.orderType}}</td>
                      <td>{{meal.meal.price}}</td>
                      <!-- <td><button class="btn btn-danger"  style="margin-left: 0px">Delete Order</button></td> -->
                    </tr>
                  </tbody>
                </table>
                <br>
                <br>
                <div class="form-group row" style="margin-left: 150px; margin-top: 0px;">

                   </div>
                </div>
               </div>
               </mat-tab>
               </mat-tab-group>


</cdk-virtual-scroll-viewport>
